nav {
    background-color: #354649;
}

li {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 1.5rem;
}

.card {
    padding-left: 6%;
    padding-right: 6%;
}

.techBadge {
    height: 100px;
}

.parent-div {
    margin-top: 5%;
    margin-bottom: 10%;
    /* background-color: #E0E7E9; */
}