<nav class="navbar navbar-expand-lg bg-light navbar-light sticky-top">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>



<div class="mx-5 parent-div">
    <h1 class="text-center my-5">About</h1>
    <div class="container-fluid row mb-5">
        <div class="card col-sm-4 border-0">
            <img src="/assets/PhotoOfMe.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Me</h5>
              <p class="card-text">A tireless learner, I found a passion for developing software while putting off studying for the MCAT.</p>
            </div>
            <div class="card-footer bg-white border-0">
              <a href="#" class="btn btn-primary">More</a>
            </div>
          </div>
          <div class="card col-sm-4 border-0">
            <img src="/assets/Brandeis_seal_blue_CMYK.png" class="card-img-top" alt="...">
            <img src="/assets/Brandeis_logo_stacked_blue_digital.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">School</h5>
              <p class="card-text">A bachelor's degree in (pre-med) biology, I'm currently working toward a master's degree in Software Engineering.</p>
              <a href="#" class="btn btn-primary">More</a>
            </div>
          </div>
          <div class="card col-sm-4 border-0">
            <img src="/assets/WA-Trust-Bug.jpg" class="card-img-top my-2" alt="...">
            <img src="/assets/washington-trust-bank-logo-vector.png" class="card-img-top my-5" alt="...">
            <div class="card-body">
              <h5 class="card-title">Work</h5>
              <p class="card-text">I am currently working at a regional bank supporting their IBM iSeries core processing system.</p>
              <a href="#" class="btn btn-primary">More</a>
            </div>
          </div>
    </div>

    <app-familiar-tech></app-familiar-tech>
</div>