<div>
    <h1 class="text-center my-5">About</h1>
    <div class="container-fluid row">
        <div class="card col-sm-4 border-0">
            <img src="/assets/PhotoOfMe.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Me</h5>
              <p class="card-text">A tireless learner, I found a passion for developing software while putting off studying for the MCAT.</p>
              <a href="#" class="btn btn-primary">More</a>
            </div>
          </div>
          <div class="card col-sm-4 border-0">
            <img src="/assets/Brandeis_seal_blue_U.eps" class="card-img-top" alt="...">
            <img src="/assets/Brandeis_logo_stacked_blue_digital.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">School</h5>
              <p class="card-text">A bachelor's degree in (pre-med) biology, I'm currently working toward a master's degree in Software Engineering.</p>
              <a href="#" class="btn btn-primary">More</a>
            </div>
          </div>
          <div class="card col-sm-4 border-0">
            <img src="/assets/WA-Trust-Bug.jpg" class="card-img-top my-2" alt="...">
            <img src="/assets/washington-trust-bank-logo-vector.png" class="card-img-top my-5" alt="...">
            <div class="card-body">
              <h5 class="card-title">Work</h5>
              <p class="card-text">I am currently working at a regional bank supporting their IBM iSeries core processing system.</p>
              <a href="#" class="btn btn-primary">More</a>
            </div>
          </div>
    </div>
    <!-- <div class="container-fluid">
      <div class="row justify-content-center">
        <img src="/assets/CSS3_logo.png" class="techBadge">
        <img src="/assets/html5-logo.png" class="techBadge">
        <img src="/assets/java-4-logo.png" class="techBadge">
        <img src="/assets/javascript_badge.jpg" class="techBadge">
        <img src="/assets/python_badge.png" class="techBadge">
        <img src="/assets/React.js_logo-512.png" class="techBadge">
        <img src="/assets/angular.png" class="techBadge">
        <img src="/assets/Spring_Framework_logo_01.png" class="techBadge">
        <img src="/assets/Swift_logo.svg.png" class="techBadge">
        <img src="/assets/1200px-Groovy-logo.svg.png" class="techBadge">
        </div>
    </div> -->
</div>