<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse ml-5" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>



<div class="container-fluid mx-5 parent-div">
  <div>
    <h1 class="text-center my-5">About</h1>
    <div class="header-bar"></div>
  </div>
    <div class="container-fluid row mb-5">
        <div class="card col-sm-4 border-0">
            <img src="/assets/PhotoOfMe.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Me</h5>
              <p class="card-text">A tireless learner, I found a passion for developing software while putting off studying for the MCAT and haven't looked back.</p>
            </div>
            <div class="card-footer bg-white border-0">
              <button type="button" class="btn btn-primary stretched-link" data-toggle="modal" data-target="#moreAboutMe">More</button>
            </div>
          </div>
          <div class="card col-sm-4 border-0">
            <img src="/assets/Brandeis_seal_blue_CMYK.png" class="card-img-top" alt="...">
            <img src="/assets/Brandeis_logo_stacked_blue_digital.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">School</h5>
              <p class="card-text">I've got a bachelor's degree in (pre-med) biology, and I'm working toward a master's degree in Software Engineering.</p>
            </div>
            <div class="card-footer bg-white border-0">
              <button type="button" class="btn btn-primary stretched-link" data-toggle="modal" data-target="#moreAboutMyEducation">More</button>
            </div>
          </div>
          <div class="card col-sm-4 border-0">
            <img src="/assets/WA-Trust-Bug.jpg" class="card-img-top my-2" alt="...">
            <img src="/assets/washington-trust-bank-logo-vector.png" class="card-img-top my-5" alt="...">
            <div class="card-body">
              <h5 class="card-title">Work</h5>
              <p class="card-text">I'm currently working at a regional bank supporting their IBM iSeries core processing system.</p>
            </div>
            <div class="card-footer bg-white border-0">
              <button type="button" class="btn btn-primary stretched-link" data-toggle="modal" data-target="#moreAboutMyWork">More</button>
            </div>
          </div>
    </div>

    <app-familiar-tech></app-familiar-tech>
</div>


<div class="modal fade" id="moreAboutMe" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">More About Me</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="" alt="PhotoOfMe2">
        <p>
          When I was a kid, I remember sitting on the gym floor at a school assembly and being asked to turn to the kid next to me and tell them what I wanted to be when I grew up. 
          It was easy to narrow it down to two options, but I didn't have time to whittle it down any further than that, so I turned and blurted that I wanted to be an author, or to make video games.
        </p>
        <p>
          While I was in college getting my bachelor's degree I wrote a couple novels and self-published them through Amazon; after finishing up my degree and trying to figure out 
          when I was going to study for the MCAT, I found myself procrastinating; by the time I'd finished four years of pre-med studies I was burnt out. I found an interesting 
          website where I could take a free class on programming in Python and thought I'd at least give myself a little break from reviewing my old organic chemistry notes with that.
        </p>
        <p>
          That was the end of my medical studies.
        </p>
        <p>
          I realize now that I'd simply been on the wrong track. I had no strong feelings toward a future as a doctor; every practicing doctor that I talked to 
          shared a dismal outlook on the profession, even if they had a passion for the scientific discipline that got them there. I was looking down the barrel of another 
          fuor years of school before I could even choose a specialty, and that would just be the start of another few years. Every day I tried to study for the MCAT 
          was a struggle.
        </p>
        <p>
          But I blew through that first Python class.
        </p>
        <p>
          By the end of it I'd learned what computers were really capable of when you tapped directly into their inner workings (and I'd recreated Pong). It took me 
          ten minutes to be sick of studying biology; when I was writing code, I had to set an alarm for myself so that I would stop in time to make it to work.
        </p>
        <p>
          I moved through that Python class to another, and then some web development tutorials. Fast forward a couple years and I'd slid into the IT department at 
          the bank where I was working and had gotten an IT Support Certification from Google and was looking at going back to school for a bachelor's in Computer Science 
          (I'm currently working on a master's in Software Engineering).
        </p>
        <p>
          Now I spend my early mornings and weekends exploring the foundations of the field in my master's program (and working on projects like this site when the 
          workload lightens up) and my day's working on supporting some IBM hardware at a regional bank. I've got a beautiful wife and two awesome kids that keep me 
          going every day. I still love to write and read voraciously when I need clear my head of ones and zeroes; it's not hard to find me marching around downtown 
          Spokane with an audiobook or a good podcast playing in my ear.
        </p>
        <p>
          I'm looking forward to entering the professional world of software development just as soon as 
          I can, and if you're reading this, I hope you can help me make that happen.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="moreAboutMyEducation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Education</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="/assets/SFCCLogo.jpg" alt="SFCC Logo" class="w-50">
        <img src="" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="moreAboutMyWork" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Work History</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        *Here is where I shall write more about my work history.*
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>