nav {
    background-color: #354649;
    margin-top: -15px;
}

li {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 1.5rem;
}

.about-me-card {
    width: 200px;
}

.card {
    padding-left: 6%;
    padding-right: 6%;

}

.card-img-top {
    width: 70%;
    align-self: center;
}

.header-bar {
    background-color: black;
}

.parent-div {
    /* margin-top: 5%; */
    margin-bottom: 10%;
    /* background-color: #E0E7E9; */
}