<div class="container-fluid d-flex parent-div" style="height: 75vh;">
    <div class="col-5 mx-auto align-self-center">
        <div>
            <h1 class="text-center mt-5 text-white">Contact</h1>
            <h5 class="text-center mt-4 text-white">Have a question or want to work together?</h5>
        </div>

        <form #contactForm="ngForm" class="form-group my-5" (ngSubmit)="onSubmit(contactForm)">
            <input type="text" placeholder="Your Name..." required class="form-control"
                    [(ngModel)]="contactName" #contactNameInput="ngModel">
            <div *ngIf="!contactNameInput.valid && contactNameInput.touched">
                Please enter your name.
            </div>

            <input type="email" placeholder="Your Email..." required class="form-control"
                    [(ngModel)]="contactEmail" #contactEmailInput="ngModel">
            <div *ngIf="!contactEmailInput.valid && contactNameInput.touched">
                Please enter a valid email address.
            </div>

            <textarea class="form-control" rows="3" placeholder="Your message..." required
                      [(ngModel)]="contactMessage" #contactMessageInput="ngModel"></textarea>
            <div *ngIf="!contactEmailInput.valid && contactNameInput.touched">
                Please enter a valid email address.
            </div>

            <button type="submit" class="btn btn-light" [disabled]="!contactForm.form.valid">
                Submit
            </button>
        </form>
    </div>
</div>
