<div class="container-fluid d-flex bg-secondary" style="height: 75vh;">
    <div class="col-5 mx-auto align-self-center">
        <div>
            <h1 class="text-center mt-5 text-white">Contact</h1>
            <h5 class="text-center mt-4 text-white">Have a question or want to get in contact?</h5>
        </div>
        <div class="container-fluid">
            <div class="my-5 form-group">
                <textarea class="form-control" id="contactFormNameBox" rows="1" placeholder="Your Name"></textarea>
                <input class="form-control" type="email" id="contactFormEmailInput" placeholder="Your Email">
                <textarea class="form-control" id="contactFormMessageBox" rows="3" placeholder="Your message..."></textarea>
                <input type="submit" class="btn btn-light">
            </div>
        </div>
    </div>
</div>