<!-- The Modal -->
<div class="modal" id="aboutWorkModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">My Winding Educational Path</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <p>The meaningful parts of my work history:</p>
                <p>(That is to say, not including the summer I was a lifeguard or the years I slang popcorn at a movie theater...)</p>
                <br>
                <h1>Umpqua Bank</h1>
                <h2>Technical Business Systems Analyst</h2>
                <h2>Applications Engineer</h2>
                <h1>Washington Trust Bank</h1>
                <h2>Core Processing Analyst</h2>
                <h1>Limelyte Technology Group</h1>
                <h2>Software Developer</h2>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Alright, alright...</button>
                </div>
            </div>
        </div>
    </div>
</div>
