<!-- The Modal -->
<div class="modal" id="aboutMeModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">More About Me</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <p>A few years ago, you might have found me sitting in my apartment flipping back and forth between two screens on my laptop; one showing the MCAT prep course I knew I should be studying for, and another stacked with videos and text editors as I ran through a course on Python development that I'd stumbled across in my procrastination.
                <p>Fast forward a little, and you'd find me in a cramped, windowless conference room listening to my boss ask me what my goals were for my career at the bank where I was working. It was a tough question, but my answer was simple - maybe IT was a better fit for me than mortgage serviving.</p>
                <p>The next few years found me working in IT and constantly wondering why we didn't have better tools, more automated processes, more functional software. So I started writing some for myself. I got into a master's program for software engineering. Now I write code all day, and I love every second of it (even the moments when I have no idea why said code refuses to work).</p>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">That's Enough</button>
            </div>

        </div>
    </div>
</div>
