<!-- <div class="container-fluid vh-100 justify-content-center align-items-center centered">
  <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"> </particles>
    <div class="text-center vertical-center">
      <p class="text-white text-weight-bold">
        Hey there, I'm <span class="text-danger">Matt Harrop,</span> and<br>
        I'm a Software Engineer in Training
      </p>
      <button class="btn btn-outline-light">
        Learn More About Me
      </button>
    </div>
</div> -->

<app-home-page></app-home-page>
<app-about-me></app-about-me>