body {
  font-family: 'Raleway';
  text-align: center;
  font-size: x-large;
}

p {
  font-family: 'B612';
  -webkit-font-smoothing: antialiased;
  text-align: center;
  font-size: 20pt;
}

.centered {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}
