<!-- The Modal -->
<div class="modal" id="aboutSchoolModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">My Winding Educational Path</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <p>I've always had an interest in computers (like so many, I was the one-man (one-child?) tech-support team for my family from the time I was about five). However, my interest mostly lay in playing games until just after college.</p>
                <p>I'd finished my bachelor's degree in biology as a pre-med major and was trying to study for the MCAT, but my heart just wasn't in it; I'd talked to too many doctors who were not thrilled about their work, and my excitement had been tempered by four long years of school where, I realize now, I was never able to<i>make</i> anything. When I stumbled on a free Python course online offered by Rice University, everything changed.</p>
                <p>The MCAT became a distant memory. I wrote a copy of Pong! Getting that to work was more exciting than the abstract concepts of the Krebs Cycle or the process of DNA replication. I was making something, and that was just the start. I started taking classes on Coursera.com and Udemy.com, looking into a myriad of languages and technologies. I got an IT Professional Certifiation from Google while I was blowing through C++ and Java tutorials.</p>
                <p>When I started looking for jobs as a software developer, I realized that my education had gaps, and so I looked for a more formal program. I ended up enrolling in the Master of Software Engineering program at Brandeis University, which I will graduate from in June of 2021. I tought myselfs the basics of writing code, but this program has opened my eyes to the broad array of concepts involved in software engineering, and I'm excited to be putting them to use.</p>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Alright, alright...</button>
            </div>

        </div>
    </div>
</div>
