<div class="container-fluid parent-div">
    <h1 class="text-center my-5">Familiar Technologies</h1>
    <div class="row justify-content-center">
        <div class="border rounded-lg p-4 col-sm-4 tech-badge-container">
            <img src="/assets/html5_badge.png" class="techBadge">
            <img src="/assets/CSS3_logo.png" class="techBadge">
            <img src="/assets/js_badge.png" class="techBadge">
            <img src="/assets/angular.png" class="techBadge">
            <img src="/assets/React.js_logo-512.png" class="techBadge">
        </div>
        <div class="border rounded-lg p-4 col-sm-4  tech-badge-container">
            <img src="/assets/java-4-logo.png" class="techBadge">
            <img src="/assets/spring_badge.png" class="techBadge">
            <img src="/assets/1200px-Groovy-logo.svg.png" class="techBadge">
        </div>
        <div class="border rounded-lg p-4 col-sm-4  tech-badge-container">
            <img src="/assets/python_badge.png" class="techBadge">
            <img src="/assets/Swift_logo.svg.png" class="techBadge">
            <img src="/assets/cpp_logo.png" class="techBadge">
        </div>
    </div>
</div>