img {
    height: 50px;
    margin-left: 10px;
}

.parent-div {
    margin-top: 10%;
}

.tech-badge-container {
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
}