<div class="container-fluid parent-div">
    <h1 class="text-center my-5">Familiar Technologies</h1>
    <div class="row justify-content-center">
    <img src="/assets/CSS3_logo.png" class="techBadge">
    <img src="/assets/html5-logo.png" class="techBadge">
    <img src="/assets/java-4-logo.png" class="techBadge">
    <img src="/assets/javascript_badge.jpg" class="techBadge">
    <img src="/assets/python_badge.png" class="techBadge">
    <img src="/assets/React.js_logo-512.png" class="techBadge">
    <img src="/assets/angular.png" class="techBadge">
    <img src="/assets/Spring_Framework_logo_01.png" class="techBadge">
    <img src="/assets/Swift_logo.svg.png" class="techBadge">
    <img src="/assets/1200px-Groovy-logo.svg.png" class="techBadge">
    </div>
</div>